<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Check the Animals</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <nav>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/animals">List of Animals</a></li>
                <li><a href="/facts">Random Facts</a></li>
                <li><a href="/shop">Shop</a></li>
                <form action="/search" method="GET">
                    <label for="q">Search:</label>
                    <input type="text" name="q" id="q" placeholder="Search for page">
                    <button type="submit">Submit</button>
                </form>
            </ul>
        </div>
    </nav>

    <section>
        <form action="/filter" method="GET">

            <legend>Filter by type:</legend>

            <label>
                <input type="checkbox" name="type" value="mammal">
                Mammal
            </label><br>

            <label>
                <input type="checkbox" name="type" value="bird">
                Bird
            </label><br>

            <button type="submit">Apply Filter</button>
        </form>

        <ul class="animallist">
            <li> <img
                    src="https://images.ctfassets.net/rt5zmd3ipxai/25pHfG94sGlRALOqbRvSxl/9f591d8263607fdf923b962cbfcde2a9/NVA-panda.jpg"
                    alt="panda" width=100px><a href="/animals/panda">Panda</a></li>
            <li> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVxgn8ynAS5wVcJ1qG8okT34F4-Qtzv7IBHw&s"
                    alt="hippo" width="100px"><a href="/animals/hippo">Hippo</a></li>
            <li> <img
                    src="https://transforms.stlzoo.org/production/animals/asian-elephant-02-01.jpg?w=1200&h=1200&auto=compress%2Cformat&fit=crop&dm=1654794861&s=547c011630e25f5dc2b677178ae20683"
                    alt="elephant" width="100px"> <a href="/animals/elephant">Elephant</a></li>
        </ul>

    </section>
</body>

</html>