<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wildlife Explorer Shop</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <nav>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/animals">List of Animals</a></li>
                <li><a href="/facts">Random Facts</a></li>
                <li><a href="/shop">Shop</a></li>
                <form action="/search" method="GET">
                    <label for="q">Search:</label>
                    <input type="text" name="q" id="q" placeholder="Search for page">
                    <button type="submit">Submit</button>
                </form>
            </ul>
        </div>
    </nav>

    <header>
        <h1>Animal Explorer Club Special Bug Spray</h1>
    </header>

    <img src="https://mobileimages.lowes.com/productimages/1cc0f97a-a9e1-4e0f-bf3b-7f1f4323d48a/64427259.jpg?size=pdhism"
        alt="bugspray" width="500px">


</body>

</html>