<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animal Facts</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>

  <nav>
    <div class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/animals">List of Animals</a></li>
        <li><a href="/facts">Random Facts</a></li>
        <form action="/animal" method="GET">
          <label for="name">Search:</label>
          <input type="text" name="name" id="name">
          <button type="submit">Submit</button>
        </form>
      </ul>
    </div>
  </nav>

  <h2>Random Animal Facts</h2>
  <ul>
    <li>A group of flamingos is called a "flamboyance".</li>
    <li>Octopuses have three hearts and blue blood.</li>
    <li>A snail can sleep for three years at a time.</li>
    <li>Elephants are the only animals that can't jump.</li>
    <li>Dolphins have names for each other.</li>
    <li>A cow gives nearly 200,000 glasses of milk in her lifetime.</li>
    <li>Kangaroos can't walk backwards.</li>
    <li>Sea otters hold hands when they sleep to keep from drifting apart.</li>
    <li>A cheetah can go from 0 to 60 mph in just 3 seconds.</li>
    <li>Sloths can take up to a month to digest a single meal.</li>
  </ul>

</body>
</html>
